<!-- <div class="header__action header__action--profile few-account-details">
  <a class="header__profile-btn before-account" href="javascript:void(0);" role="button" id="dropdownMenuProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div><p><i class="far fa-user-circle icon-font-profile"></i> Your Account</p></div>
  </a>

  <ul class="dropdown-menu header__profile-menu" aria-labelledby="dropdownMenuProfile">
    <li>
      <a href="<%#= new_registration_path %>">
        <i class="fas fa-user"></i>
        <span>Sign Up</span>
      </a>
    </li>
    <li>
      <a href="<%#= login_sessions_path%>">
        <i class="fas fa-sign-in-alt"></i>
        <span>Log in</span>
      </a> 
    </li>
  </ul>
</div> -->
<div class="btns-list">
  <div class="join-input">
    <a href="<%= new_registration_path %>">Join</a>
  </div>
  <div class="login-join">
    <a href="<%= login_sessions_path%>">Log in</a>
  </div>
</div>